<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>P-SEEK:: abstract</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/artwork.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet" >
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <span hidden>
                <%= artGenre = ['abstract', 'contemporary', 'modern', 'pop', 'stillLife', 'surrealism' ] %>
                    <%= artName = ['추상화', '현대미술', '모던아트', '팝아트', '정물화', '초현실주의'] %>
                </span>
                <% artGenre.forEach((element, i) => { %>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="./<%= element[i] %>"><%= artName[i] %></a>
                    </li>
                <% }); %>
                <li class="nav-item" style="margin-top: 13px;">
                    <% if (isLogined) { %>
                        <a class="mypage-h" href="/myPage">
                            <i class="fas fa-user-circle" style="color: #fed136"></i>&nbsp;
                            <span id="user" style="color: #fed136"><%= user %>&nbsp;&nbsp;<a class="btn btn-basic btn-sm" href="/myPage">MYPAGE</a></span></a>
                    <% } else { %>
                        <i class="fas fa-user-circle" style="color: #ADADAD"></i>&nbsp;
                        <span id="user" style="color: #fed136">Guest</span>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="columns">
    <% for(var i = artwork.length - 1; i >= 0; i--) { %>
    <figure class="likeBox">
        <img src="<%= artwork[i].art_imgsrc %>" />
        <% if (userpick.length > 0) { %>
            <% for (var j = 0; j < userpick.length; j++) { %>
                <% if (userpick[j].art_id !== artwork[i].art_id) { %>
                    <form method="post" action="/like/<%= artwork[i].art_title %>">
                        <button type="submit" class="likeBox btn " id="heart" ><i class="fas fa-heart"></i></button>
                    </form>
                <% } else { %>
                    <% userpick.splice(j, 1); %>
                    <form method="post" action="/like/<%= artwork[i].art_title %>"> <!-- 활성화 되었을 때 delete로 -->
                        <button type="submit" class="likeBox btn " id="dislike" ><i class="fas fa-heart"></i></button>
                    </form>
                <% } %>
            <% } %>
        <% } else { %>
            <form method="post" action="/like/<%= artwork[i].art_title %>">
                <button type="submit" class="likeBox btn " id="heart" ><i class="fas fa-heart"></i></button>
            </form>
        <% } %>
        <figcaption style="text-align: center"><b><%= artwork[i].art_title %></b></figcaption>
    </figure>
    <% } %>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>

</body>
</html>