<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>P-SEEK:: surrealism</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/artwork.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <span hidden>
                <%= artGenre = ['abstract', 'contemporary', 'modern', 'pop', 'stillLife', 'surrealism' ] %>
                    <%= artName = ['추상화', '현대미술', '모던아트', '팝아트', '정물화', '초현실주의'] %>
                </span>
                <% for(let i in artGenre) { %>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="<%= artGenre[i] %>"><%= artName[i] %></a>
                    </li>
                <% } %>
                <li class="nav-item" style="margin-top: 13px;">
                    <% if (isLogined) { %>
                        <i class="fas fa-user-circle" style="color: #fed136; padding-left: 5px"></i>
                        <span id="user" style="color: #fed136; padding-left: 5px"><%= user %></span>
                    <% } else { %>
                        <i class="fas fa-user-circle" style="color: #ADADAD;  padding-left: 5px"></i>
                        <span id="user" style="color: #fed136; padding-left: 5px">Guest</span>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div id="columns">
    <figure>
        <img src="./img/art/surrealism/surrealism_01.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_02.jpg">
        <figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_03.jpg">
        <figcaption>Belle, based on 1770’s French court fashion</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_04.jpg">
        <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_05.jpg">
        <figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_06.jpg">
        <figcaption>Pocahontas based on 17th century Powhatan costume</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_07.jpg">
        <figcaption>Snow White, based on 16th century German fashion</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_08.jpg">
        <figcaption>Ariel wearing an evening gown of the 1890’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_09.jpg">
        <figcaption>Tiana wearing the <i>robe de style</i> of the 1920’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_10.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_11.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_12.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_13.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_14.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>

    <figure>
        <img src="./img/art/surrealism/surrealism_15.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
    </figure>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>

</body>
</html>