<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PSEEK:: ARTIST</title>
    <% include ./head/headIndex.ejs %>
    <style>
        body { padding-top: 54px; }
        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <span style="color: #DBDBDB; margin-top: 12px"><small><i>PLEASE  PICK  THE  ARTISTS  THAT  YOU  LIKE.&nbsp&nbsp&nbsp&nbsp</i></small></span>
                <li class="nav-item" style="margin-top: 13px;">
                    <% if (isLogined) { %>
                        <i class="fas fa-user-circle" style="color: #fed136;"></i>&nbsp;<span id="user" style="color: #fed136;"><%= user %>&nbsp;&nbsp;<a class="btn btn-basic btn-sm" href="/myPage">MYPAGE</a></span></a>&nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/logout">Sign Out</a>
                    <% } else { %>
                        <i class="fas fa-user-circle" style="color: #ADADAD"></i>&nbsp;
                        <span id="user" style="color: #fed136">Guest</span>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <!-- Introduction Row -->
    <h2 class="my-4" style="padding-top: 10px; color:#E84600">ARTISTS' PAGE</h2>
    <p>
        This page is pseek artists' page. You can pick the artists that you prefer. Then, they will be seen by your own page that pseek offer.
        I wish that you find your lover artists a lot. All pseek's artist will appear at the following page.
    </p>

    <!-- Items -->
    <div class="row">
        <div class="col-lg-12" style="color:#343A40">
            <h5 class="my-4"><i class="fas fa-rocket"></i> INTRODUCE YOURSELF</h5>
        </div>
        <% for (var i = artistList.length - 1; i >= 0; i--) { %>
        <div class="col-lg-4 col-sm-6 text-center mb-4 pt-3" style="background-color: #F3F3F3DD">
            <div class="likeBox">
                <img class="rounded-circle img-fluid d-block mx-auto" src="<%= artistList[i].user_imgsrc %>" alt="" style="width: 50%; height:180px">
                <% if (artistpick.length > 0) { %>
                    <% for (var j = 0; j < artistpick.length; j++) { %>
                        <% if (artistpick[j].user_id !== artistList[i].user_id) { %>
                            <form method="post" action="/artist/like/<%= artistList[i].user_id %>" >
                            <button type="submit" class="likeBox btn " id="heart" style="margin-top: -10px"><i class="fas fa-heart"></i></button>
                            </form>
                        <% } else { %>
                            <% artistpick.splice(j, 1); %>
                                <form method="post" action="/artist/dislike/<%= artistList[i].user_id %>" >
                                    <button type="submit" class="likeBox btn " id="dislike" style="margin-top: -10px"><i class="fas fa-heart"></i></button>
                                </form>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <form method="post" action="/artist/like/<%= artistList[i].user_id %>" >
                        <button type="submit" class="likeBox btn " id="heart" style="margin-top: -10px"><i class="fas fa-heart"></i></button>
                    </form>
                <% } %>
            </div>
            <h3><%= artistList[i].user_name %></h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <% } %>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; P-SEEK.com 2019</p>
    </div>
</footer>

<% include ./head/footerIndex.ejs %>
</body>
</html>
