<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>P-SEEK</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <% include ./head/headIndex.ejs %>
</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <span hidden><%= navItem = ['services', 'gallery', 'artist', 'museum', 'team'] %></span>
                <% for (var i in navItem) { %>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#<%= navItem[i] %>">
                            <%= navItem[i] %>
                        </a>
                    </li>
                <% } %>

                <li class="nav-item" style="margin-top: 10px;">
                    <% if (isLogined) { %>
                        <i class="fas fa-user-circle" style="color: #fed136;"></i>&nbsp;<span id="user" style="color: #fed136;"><%= user %>&nbsp;&nbsp;<a class="btn btn-basic btn-sm" href="/myPage">MYPAGE</a></span></a>&nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/user/logout">Sign Out</a>
                    <% } else { %>
                        &nbsp;&nbsp;<a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/user/login"> Sign In</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to p-seek gallery</div>
            <div class="intro-heading text-uppercase">Everyone is Artist!</div>
            <a class="btn btn-primary btn-xl text-uppercase portfolio-link" data-toggle="modal" href="#portfolioModal7">PSEEK-GUIDE</a>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">There's three things that are p-seek offer to users.</h3>
            </div>
        </div>
        <div class="row text-center">
            <span hidden>
                <%= serviceItem = ['E-Ticket', 'Online Museum', 'My Art Museum'] %>
                <%= serviceDes = ['서비스 이용권 구매', '미술작품 온라인 관람', '나만의 아트 뮤지엄'] %>
                <%= serviceIcon = ['ticket-alt', 'landmark', 'users-cog'] %>
            </span>
            <% for(let i in serviceItem) { %>
                <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-<%= serviceIcon[i] %> fa-stack-1x fa-inverse"></i>
              </span>
                    </a>
                    <h4 class="service-heading"><%= serviceItem[i] %></h4>
                    <p class="text-muted"><%= serviceDes[i] %></p>
                </div>
            <% } %>
        </div>
    </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light product" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Gallery</h2>
                <h3 class="section-subheading text-muted">You can pick the art painting style that you want.</h3>
            </div>
        </div>
        <div class="row">
            <span hidden>
                <%= artGenre = ['abstract', 'contemporary', 'modern', 'pop', 'stillLife', 'surrealism' ] %>
                <%= artName = ['추상화', '현대미술', '모던아트', '팝아트', '정물화', '초현실주의'] %>
            </span>
            <% for (let i in artGenre) { %>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <!-- 로그인 되었을 때 작품페이지 접근 가능 -->
                    <% if(isLogined) { %>
                    <a class="portfolio-link" href="./<%= artGenre[i] %>">
                    <% } else { %>
                    <a class="portfolio-link" href="./" onclick="alert('Please Log in.')">
                    <% } %>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/img/portfolio/<%= artGenre[i] %>_thum.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><%= artGenre[i] %> art</h4>
                        <p class="text-muted"><%= artName[i] %></p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>

<!-- Artist -->
<section id="artist">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Artist</h2>
                <h3 class="section-subheading text-muted">Today's Best Artists who selected by p-seek.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <% artistNames.forEach((element, i) => { %>
                        <!-- index가 홀수이면 오른쪽 정렬 -->
                        <li<% if(i%2===1) { %> class="timeline-inverted" <% } else { %> class="" <% } %>>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="<%= artistNames[i].user_imgsrc %>" alt="">
                                <a href="#"><div class="overlay"></div></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 style="text-transform: uppercase">:: <%= element["user_id"] %></h4>
                                    <h4 class="subheading"><%= element["user_name"] %></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                    <% }); %>
                    <li class="timeline-inverted">
                        <!-- 로그인 되었을 때 작품페이지 접근 가능 -->
                        <% if (isLogined) { %>
                        <a href="/artist">
                        <% } else { %>
                        <a href="/" onclick="alert('Please Log in')">
                        <% } %>
                            <div id="moreAritst" class="timeline-image">
                                <h4 style="color: #fff">GO TO<br>
                                    MORE<br>
                                    ARTIST</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Museum -->
<section class="product" id="museum">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">ART MUSEUM</h2>
                <h3 class="section-subheading text-muted">You can exhibit online art museum in pseek service.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <% if(isLogined) { %>
                    <a class="portfolio-link" href="/museum1">
                <% } else { %>
                    <a class="portfolio-link" href="./" onclick="alert('Please Log in.')">
                <% } %>
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-image fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="./img/museum/museum_01.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Louvre Museum</h4>
                    </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <% if(isLogined) { %>
                <a class="portfolio-link" href="/museum2">
                    <% } else { %>
                    <a class="portfolio-link" href="./" onclick="alert('Please Log in.')">
                        <% } %>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-image fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="./img/museum/museum_02.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Leeum Museum</h4>
                    </div>
            </div>


            <div class="col-md-4 col-sm-6 portfolio-item">
                <% if(isLogined) { %>
                <a class="portfolio-link" href="/museum3">
                    <% } else { %>
                    <a class="portfolio-link" href="./" onclick="alert('Please Log in.')">
                        <% } %>
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-image fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="./img/museum/museum_03.jpg" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sydney Museum</h4>
                    </div>
            </div>

        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light" id="team" style="background-color: #fff !important; padding-bottom: 0px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Team PISA ::</h2>
                <h3 class="section-subheading text-muted">2019 Gachon-univ. graduate project team.</h3>
            </div>
        </div>
        <div class="row">
            <span hidden>
                <%= teamPISA = ['hyunji Yoo', 'hyunseoung Wi', 'byungki Park'] %>
                <%= teamRole = ['Developer & Designer', 'Developer & Writer', 'Developer & Troubleshooter'] %>
                <%= teamSns = ['twitter', 'facebook-f', 'linkedin-in'] %>
            </span>
            <% for(let i in teamPISA) { %>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/img/team/<%= ++i %>.jpg" alt="">
                        <h4><%= teamPISA[i-1]%></h4>
                        <p class="text-muted"><%= teamRole[i-1] %></p>
                        <ul class="list-inline social-buttons">
                            <% for(let i in teamSns) { %>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-<%= teamSns[i] %>"></i>
                                    </a>
                                </li>
                            <% }%>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>

<!-- Clients -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <span hidden><%= clientItem = ['envato', 'designmodo', 'themeforest', 'creative-market'] %></span>
            <% for(let i in clientItem) { %>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="/img/logos/<%= clientItem[i] %>.jpg" alt="">
                    </a>
                </div>
            <% } %>
        </div>
    </div>
</section>

<!-- Footer -->
<footer style="background-color: #212529 !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright" style="color: #fff !important;">Copyright &copy; P-SEEK.com 2019</span>
            </div>
            <span hidden><%= iconItem = ['twitter', 'facebook-f', 'linkedin-in']%></span>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <% for(let i in iconItem) { %>
                        <li class="list-inline-item">
                            <a href="#" style="background-color: #636363 ">
                                <i class="fab fa-<%= iconItem[i] %>" style="color: #212529;"></i>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Guide Modal -->
<div class="modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="margin: 0 auto">
                <h5 class="modal-title" id="exampleModalLongTitle">PSEEK:: Guide</h5>
            </div>
            <div class="modal-body" >
                P-Seek에 오신걸 환영합니다. <br> P-Seek에선 누구나 아티스트가 될 수 있습니다.<br>we are all artist <br><br>
                <ul style="list-style: none;">
                    <li><i class="fas fa-chevron-circle-right"></i>&nbsp; <a href="#step1" style="color: #FF6600"><u>홈 화면</u></a></li>
                    <li><i class="fas fa-chevron-circle-right"></i>&nbsp; <a href="#step2" style="color: #FF6600"><u>마이페이지</u></a></li>
                    <li><i class="fas fa-chevron-circle-right"></i>&nbsp; <a href="#step3" style="color: #FF6600"><u>나의 갤러리</u></a></li>
                    <li><i class="fas fa-chevron-circle-right"></i>&nbsp; <a href="#step3" style="color: #FF6600"><u>티켓 구매</u></a></li>
                </ul>
                <hr>
                <h3 id="step1">홈 화면</h3>
                <img src="/img/guide/step1.jpg" width="100%"/>
                <br><h5>PSEEK의 사용법</h5>
                1.홈페이지<br>
                2.서비스<br>
                3.작품정보<br>
                4.아티스트 정보<br>
                5.미술관 정보<br>
                6.팀 정보<br>
                7.로그인 후 마이페이지 이용가능<br>
                8.Pseek 가이드<br><br>

                <hr><br>
                <h3 id="step2">마이페이지</h3>
                <img src="/img/guide/step2.jpg" width="100%"/>
                나의 프로필 정보, 나의 픽 art, 나의 픽 artist, 나의 작품을 <br>정리해서 보여줍니다.
                <hr><br>
                <h3 id="step3">나의 갤러리</h3>
                <img src="/img/guide/step3.jpg" width="100%"/>
                자신의 작품을 업로드 함으로써 많은 사람들에 공유하고 픽을 받고 구매가 가능하도록 홍보 합니다.
                <hr><br>
                <h3 id="step4">티켓구매</h3>
                <img src="/img/guide/step4.jpg" width="100%"/>
                미술관 티켓, 한달 스트리밍 이용권 티켓, 마이 아티스트 티켓,<br> 프리패스(스트리밍+다운로드) 티켓 구매 가능
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include ./head/footerIndex.ejs %>
</body>
</html>
