<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PSEEK:: My Page</title>
    <% include ./head/headIndex.ejs %>
    <!-- Viewer css -->
    <link href="/css/viewer.css" rel="stylesheet">
    <link href="/css/viewer_main.css" rel="stylesheet">
    <style>
        body {
            padding-top: 54px;
        }
        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
        .caption {
            position: absolute;
            width: 89.5%;
            height: 35px;
            bottom: 0px;
            color: #ffffff;
            background: #000000DD;
            text-align:center;
            font-family: Sans-serif;
            opacity:0.7;
        }
        .caption_rec {
            position: absolute;
            width: 88%;
            height: 35px;
            bottom: 0px;
            color: #ffffff;
            background: #000000DD;
            text-align:center;
            font-family: Sans-serif;
            opacity:0.7;
        }
    </style>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <span hidden>
                <%= MyPageNav = ['recommend', 'pick_art', 'pick_artist', 'my_artwork'] %>
                <%= NavName = ['RECOMMEND', 'PICK ART', 'PICK ARTIST', 'MY ARTWORK'] %>
                </span>
                <% MyPageNav.forEach((element, i) => { %>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#<%= element %>"><%= NavName[i] %></a>
                    </li>
                <% }); %>
                <li class="nav-item" style="margin-top: 13px;">
                    <% if (isLogined) { %>
                        <i class="fas fa-user-circle" style="color: #fed136;"></i>&nbsp;<span id="user" style="color: #fed136;"> <%= user %>&nbsp;&nbsp;</span></a>&nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/user/logout">Sign Out</a>
                    <% } else { %>
                        <i class="fas fa-user-circle" style="color: #ADADAD"></i>&nbsp;
                        <span id="user" style="color: #fed136">Guest</span>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Contents -->
<div class="container">

    <!-- Profile -->
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 mb-4" style="background-color: #E6E6E677">
            <div><img src="<%= userImg %>" style=" margin-top: 10px; height: 10rem" /></div>
            <span style="color: #E84600; font-weight: bold; font-size: 2rem; font-family: Sans-serif;"> MY PROFILE </span>
            <a href="#editPro" data-toggle="modal" ><i class="fas fa-cog" id="edit_profile" style="color:#636363; font-size: 1.3rem;"></i></a>
            <ul style="list-style: none; padding:0">
                <li><b>NAME ㅡ</b> <%= username %></li>
                <li><b>EMAIL ㅡ</b> <%= user %>@pseek.com </li>
                <li><b>PHONE ㅡ</b> <%= userphone %></li>
                <li style="padding-top: 10px;">
                    <form action="./ticket">
                        <input class="btn btn-sm" type="submit" value="Buy Tickets" style="background-color: #fed136; color:#474747; font-weight: bold; "/>
                        <% if(ticket.length === 0) { %>
                            <div style="background-color: #FFFFFF; margin-top: 5px;">Please buy ticket..</div>
                        <% } else { %>
                            <div style="background-color: #FFFFFF; margin-top: 5px;">
                            <span style="font-weight: bold"> My ticket : </span>
                                <% for (var i = 0; i < ticket[0].length; i++) { %>
                                    <span><%= ticket[0][i].type_title %></span>
                                <% } %>
                            </div>
                        <% } %>
                    </form>
                </li>
            </ul>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda beatae dolor dolorum,</p>
        </div>

        <!-- 추천서비스 -->
        <div id ="recommend" class="col-md-8">
            <h3 class="my-4">RECOMMEND</h3>
            <div class="row">
                <% if(recommendArt.length === 0) { %>
                    <!-- 전체작품 중복제거-->
                    <% var randArr1 = []; %>
                    <% for(var i = 0; i < 6; i++) { %>
                        <% rand1 = parseInt(Math.random() * allArt.length); %>
                        <% var flag = false; %>
                        <% for(var j = 0; j < randArr1.length; j++) { %>
                            <% if(rand1 === randArr1[j]) { %>
                                <% flag = true; %>
                                <% --i; %>
                                <% break; %>
                            <% } %>
                        <% } %>
                        <% if(flag == false) { %>
                            <% randArr1.push(rand1); %>
                        <% }%>
                    <% } %>
                    <% for(var k = 0; k < 6; k++) { %>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <img class="img-fluid" src="<%= allArt[randArr1[k]].art_imgsrc %>" alt="" style="width: 100%; height: 180px;" onclick="
                                    var selectImg = document.getElementById('clickImg1<%= randArr1[k] %>');
                                    selectImg.click();">
                            <div class="caption_rec"><%= allArt[randArr1[k]].art_title %></div>
                        </div>
                        <!-- All ART Viewer Image -->
                        <div hidden class="docs-galley">
                            <ul class="docs-pictures clearfix">
                                <% for (var n = 0; n < 6; n++) { %>
                                    <li><img id="clickImg1<%= randArr1[n] %>" data-original="<%= allArt[randArr1[n]].art_imgsrc %>" src="<%= allArt[randArr1[n]].art_imgsrc %>" /></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                <% } else { %>
                    <!-- 추천작품 중복제거 -->
                    <% var randArr2 = []; %>
                    <% for(var i = 0; i < 6; i++) { %>
                        <% rand2 = parseInt(Math.random() * recommendArt.length); %>
                        <% var flag = false; %>
                        <% for(var j = 0; j < randArr2.length; j++) { %>
                            <% if(rand2 === randArr2[j]) { %>
                                <% flag = true; %>
                                <% --i; %>
                                <% break; %>
                            <% } %>
                        <% } %>
                        <% if(flag == false) { %>
                            <% randArr2.push(rand2); %>
                        <% }%>
                    <% } %>
                    <% for(var m = 0; m < 6; m++) { %>
                        <div class="col-md-4 col-sm-6 mb-4">
                            <img class="img-fluid" src="<%= recommendArt[randArr2[m]].art_imgsrc %>" alt="" style="width: 100%; height: 180px;" onclick="
                                    var selectImg = document.getElementById('clickImg2<%= randArr2[m] %>');
                                    selectImg.click();">
                            <div class="caption_rec"><%= recommendArt[randArr2[m]].art_title %></div>
                        </div>
                        <!-- Recommend Viewer Image -->
                        <div hidden class="docs-galley">
                            <ul class="docs-pictures clearfix">
                                <% for (var p = 0; p < 6; p++) { %>
                                    <li><img id="clickImg2<%= randArr2[p] %>" data-original="<%= recommendArt[randArr2[p]].art_imgsrc %>" src="<%= recommendArt[randArr2[p]].art_imgsrc %>" /></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <!-- My Pick Art -->
    <h3 class="my-4" id="pick_art">PICK ART<a href="/myPick/myPick/art" style="color: #343A40 !important;"><i class="fas fa-plus-square" style="float: right"></i></a></h3>
    <div class="row">
        <% if (pickArt.length === 0) { %>
            <% for(let i = 0; i < 4; i++) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <img class="img-fluid" src="/img/300x200.png" alt="">
                </div>
            <% } %>
        <% } else if (pickArt.length < 9) { %>
            <% for(let i = pickArt.length - 1; i >= 0; i--) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <form method="post" action="/myPage/<%= pickArt[i].art_genre %>/dislike/<%= pickArt[i].art_id %>">
                        <button type="submit" class="likeBox_myPage btn "><i class="fas fa-heart"></i></button>
                    </form>
                    <img class="img-fluid" src="<%= pickArt[i].art_imgsrc %>" alt="" style="width: 100%; height: 180px;">
                    <div class="caption"><%= pickArt[i].art_title %></div>
                </div>
            <% } %>
        <% } else { %>
            <% for(let i = pickArt.length - 1; i > pickArt.length - 9; i--) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <form method="post" action="/myPage/<%= pickArt[i].art_genre %>/dislike/<%= pickArt[i].art_id %>">
                        <button type="submit" class="likeBox_myPage btn "><i class="fas fa-heart"></i></button>
                    </form>
                    <img class="img-fluid" src="<%= pickArt[i].art_imgsrc %>" alt="" style="width: 100%; height: 180px;">
                    <div class="caption"><%= pickArt[i].art_title %></div>
                </div>
            <% } %>
        <% } %>
    </div>

    <!-- My Pick Artist -->
    <h3 class="my-4" id="pick_artist">PICK ARTIST<a href="/myPick/myPick/artist" style="color: #343A40 !important;"><i class="fas fa-plus-square" style="float: right"></i></a></h3>
    <div class="row">

        <% if (pickArtist.length === 0) { %>
            <% for(let i = 0; i < 4; i++) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <img class="img-fluid" src="/img/300x200.png" alt="">
                </div>
            <% } %>
        <% } else if (pickArtist.length < 9) { %>
            <% for(let i = pickArtist.length - 1; i >= 0; i--) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <form method="post" action="/myPage/dislike/<%= pickArtist[i].user_id %>">
                        <button type="submit" class="likeBox_myPage btn " ><i class="fas fa-heart"></i></button>
                    </form>
                    <img class="img-fluid" src="<%= pickArtist[i].user_imgsrc %>" alt="" style="width: 100%; height: 180px;">
                    <div class="caption"><%= pickArtist[i].user_name %></div>
                </div>
            <% } %>
        <% } else { %>
            <% for(let i = pickArtist.length    - 1; i > pickArtist.length - 9; i--) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <form method="post" action="/myPage/dislike/<%= pickArtist[i].user_id %>">
                        <button type="submit" class="likeBox_myPage btn " ><i class="fas fa-heart"></i></button>
                    </form>
                    <img class="img-fluid" src="<%= pickArtist[i].user_imgsrc %>" alt="" style="width: 100%; height: 180px;">
                    <div class="caption"><%= pickArtist[i].user_name %></div>
                </div>
            <% } %>
        <% } %>
    </div>

    <!-- My ART -->
    <h3 class="my-4" id="my_artwork">MY ARTWORK<a href="/myart" style="color: #343A40 !important;"><i class="fas fa-plus-square" style="float: right"></i></a></h3>
    <div class="row">
        <% if (myArt.length === 0) { %>
            <% for(let i = 0; i < 4; i++) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <img class="img-fluid" src="/img/300x200.png" alt="">
                </div>
            <% } %>
        <% } else if (myArt.length < 9) { %>
            <% for(let i = myArt.length - 1; i >= 0; i--) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                     <img class="img-fluid" src="<%= myArt[i].art_imgsrc %>" alt="" style="width: 100%; height: 180px;">
                     <div class="caption"><%= myArt[i].art_title %></div>
                </div>
            <% } %>
        <% } else { %>
            <% for(let i = myArt.length - 1; i > myArt.length - 9; i--) { %>
                <div class="col-md-3 col-sm-6 mb-4">
                    <img class="img-fluid" src="<%= myArt[i].art_imgsrc %>" alt="" style="width: 100%; height: 180px;">
                    <div class="caption"><%= myArt[i].art_title %></div>
                </div>
            <% } %>
        <% } %>
    </div>

</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; P-SEEK.com 2019</p>
    </div>
</footer>

<!-- Art Work Add Modal -->
<div class="modal fade" id="editPro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span style="color: #E84600">EDIT</span> MY PROFILE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action='/myPage/edit' method='post' encType="multipart/form-data">
                <div class="modal-body">
                    <!-- Modal Contents -->
                    <img name="ediProImg" id="editProImg" src="<%= userImg %>" width="100%" style="margin-bottom: 15px"/>
                    <table>
                        <tr>
                            <td><span style="font-weight: bold">IMG</span></td>
                            <td><input type="file" name="editProFile" id="editProFile" value="" style="color: #fff"/></td>
                        </tr>
                        <tr>
                            <td><span style="font-weight: bold">NAME</span></td>
                            <td><input type="text" class="editProName" name="editProName" value="<%= username %>" style="width: 100%"/></td>
                        </tr>
                        <tr>
                            <td><span style="font-weight: bold">EMAIL</span></td>
                            <td style="width: 100%"><%= user %>@pseek.com</td>
                        </tr>
                        <tr>
                            <td><span style="font-weight: bold">PHONE</span></td>
                            <td><input type="text" name="editProTel" value="<%= userphone %>" style="width: 100%"/></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var readURL3 = function(input) {
            if(input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (element) {
                    $('#editProImg').attr('src', element.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        // 파일태그에서 선택한 이미지로 바뀜
        $('#editProFile').on('change', function (input) {
            readURL3(this);
        });

        // 특정키 입력 금지
        $("input, textarea").keyup(function(){
            var value = $(this).val();
            var arr_char = new Array();

            arr_char.push("'");
            arr_char.push("\"");
            arr_char.push("<");
            arr_char.push(">");

            for(var i=0 ; i<arr_char.length ; i++)
            {
                if(value.indexOf(arr_char[i]) != -1)
                {
                    window.alert("<, >, ', \" 특수문자는 사용하실 수 없습니다.");
                    value = value.substr(0, value.indexOf(arr_char[i]));
                    $(this).val(value);
                }
            }
        });
    });
</script>

<% include ./head/footerIndex.ejs %>
<% include ./head/footerViewer.ejs %>
</body>
</html>
