<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PSEEK:: My Pick Artist</title>
    <% include ./head/headIndex.ejs %>

    <!-- Viewer css -->
    <link href="/css/viewer.css" rel="stylesheet">
    <link href="/css/viewer_main.css" rel="stylesheet">

    <style>
        body { padding-top: 54px; }
        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
        .caption {
            position: absolute;
            width: 245px;
            height: 35px;
            bottom: 5px;
            left: 20px;
            color: #ffffff;
            background: #000000DD;
            text-align:center;
            font-family: Sans-serif;
            opacity:0.7;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">P-Seek :: <small>artists' playground</small></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item" style="margin-top: 13px;">
                    <% if (isLogined) { %>
                        <i class="fas fa-user-circle" style="color: #fed136;"></i>&nbsp;<span id="user" style="color: #fed136;"> <%= user %>&nbsp;&nbsp;<a class="btn btn-basic btn-sm" href="/myPage">MYPAGE</a></span></a>&nbsp;&nbsp;
                        <a class="btn btn-primary btn-sm" id="loginBtn" style="color: #474747" href="/user/logout">Sign Out</a>
                    <% } else { %>
                        <i class="fas fa-user-circle" style="color: #ADADAD"></i>&nbsp;
                        <span id="user" style="color: #fed136">Guest</span>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container" style="margin-bottom: 270px;">
    <h2 class="my-4 text-center text-md-left" style="text-transform: uppercase; padding-top: 20px">
        <%= user %><small> PICK ARTIST</small>
    </h2>
    <div class="row text-center text-lg-left">
        <% if (pickArtist.length > 0) { %>
            <% for(var i in pickArtist) { %>
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <form method="post" action="/myPick/myPick/artist/dislike/<%= pickArtist[i].user_id %>">
                        <button type="submit" class="likeBox_myPage btn " ><i class="fas fa-heart"></i></button>
                    </form>
                    <a href="/artist/<%= pickArtist[i].user_id%>">
                    <img class="img-fluid img-thumbnail" src="<%= pickArtist[i].user_imgsrc %>"  style="width: 100%; height: 180px;">
                    </a>
                    <div class="caption">
                        <%= pickArtist[i].user_name %>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="PLEASE  PUT  YOUR  ART  WORK">
                </a>
            </div>
        <% } %>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; P-SEEK.com 2019</p>
    </div>
</footer>


<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="/vendor/jquery/jquery.min.js"></script>-->
<!--<script src="/vendor/jquery/jquery.slim.min.js"></script>-->
<!--<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>-->

<% include ./head/footerIndex.ejs %>
</body>
</html>
